<h3><%= @stretch.name %></h3>

<p><%= @stretch.description %></p>
<img src="<%= @stretch.picture %>"/>

<% if current_user && current_user.role == 'admin' %>
  <p><%= link_to "Edit", edit_admin_stretch_path(@stretch) %>
  <%= link_to "Delete", admin_stretch_path(@stretch), :method => :delete %></p>

<% end %>
