<%= form_for [:admin, @stretch] do |f| %>
  <table>
    <tr>
      <%= f.label "Body Area" %>
      <%= f.collection_check_boxes :body_area_ids, BodyArea.all, :id, :name do |cb| %>
        <% cb.label {cb.check_box + cb.text} %>
      <% end %>
    </tr>

    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_field :description, size: 150 %></td>
    </tr>

    <tr>
      <td><%= f.label :picture %></td>
      <td><%= f.text_field :picture, size: 150 %></td>
    </tr>

    <tr><td><%= f.submit %></td></tr>
  </table>
<% end %>
