<!DOCTYPE html>
<html>
  <head>
    <title>WorkStretcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div>
        <div class="logo">
          <%= link_to "Stretches Home", stretches_path %>
        </div>
        <div class="stretch-search">

          <%= form_tag(body_area_path(:stretch_search), method: "get") do %>
            <%= label_tag(:stretch_search, "Find a Stretch:") %>
            <%= collection_select :stretch_search, :body_area_id, BodyArea.all, :id, :name, prompt: 'Select Body Area' %>
            <%#= text_field_tag :stretch_search %>
            <%= submit_tag("Go!") %>
          <% end %>
        </div>
      </div>
      <div class="login">
        <% if current_user %>
          <h3 class="welcome">Welcome, <%= current_user.username %>!</h3>
          <div class="logout">
            <%= link_to "Logout", logout_path, method: :delete %>
            <%= link_to "#{current_user.username}'s Profile", user_path(current_user) %>
            <% if current_user.role == 'admin' %>
              <%= link_to "Admin Dashboard", admin_path(:current_user) %>
            <% end %>
          </div>
        <% else %>
          <%= link_to "Sign In", login_path %>
          <%= link_to "Create an Account", new_user_path %>
        <% end %>
      </div>
    </nav>

    <% flash.each do |type, msg| -%>
      <%= content_tag :div, msg, class: type %>
    <% end -%>

    <%= yield %>
  </body>
</html>
